is_read_only_mode = false
# taskbar_color = 0xFFFFFF
window_border_color = 0x518E4C
window_active_border_color = 0xC8E6B3

key_kill = 0x10
key_focus = 0x0F
key_console = 0x14
key_layout = 0x39
key_fullscreen = 0x57
key_ws_left = 0x4B
key_ws_right = 0x4D
key_resize_left = 0x4B
key_resize_right = 0x4D
wm_gaps = 10
font_scale = 1
wallpaper = bg2.bmp
blur_radius = 5